# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# Azure Functions local settings
local.settings.json

# VSCode settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary
